<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head></h:head> 
<ui:composition template = "/layouts/commonLayout.xhtml">	
	<ui:define name = "commonContent">
	<body style="background-color: #acc"> 
	
	
		<!-- This form is used to add products -->
		<h:form id="newProductForm">
		<h:panelGrid columns="3">
		<h:outputLabel value="Movie Title:" /> 
		<h:inputText value="#{product.title}" /><br /><br />
		<h:outputLabel value="Genre:" />
		<h:inputText value="#{product.genre}" /><br /><br />
		<h:outputLabel value="Lead Actor:" />
		<h:inputText value="#{product.leadAct}" /><br /><br />
		<h:outputLabel value="Studio:" />
		<h:inputText value="#{product.studio}" /><br /><br />
		<h:outputLabel value="Director:" />
		<h:inputText value="#{product.director}" /><br /><br />
		<h:outputLabel value="Length:" />
		<h:inputText value="#{product.length}" /><br /><br />
		<h:outputLabel value="Release Year:" />
		<h:inputText value="#{product.year}" /><br /><br />
		<h:outputLabel value="Rental Price $:" />
		<h:inputText value="#{product.price}" /><br /><br />
		<h:outputLabel value="Video Image File (.PNG):" />
		<h:inputText value="#{product.vidImg}" /><br /><br />
		</h:panelGrid>
		<h:commandButton action="#{productss.addProd(product)}" value="Add Product" /><br/><br/>
		
		<!-- Creates the table below the form with populated data -->
			<h:dataTable value = "#{productss.productss}" var = "odr"
            styleClass = "order-table"
            headerClass = "order-table-header"
            rowClasses = "order-table-odd-row,order-table-even-row">
            
            <h:column>    				
               <f:facet name = "header">Movie Title</f:facet>    				
               #{odr.title}
            </h:column>
            
            <h:column>
               <f:facet name = "header">Genre</f:facet>
               #{odr.genre}
            </h:column>
            
            <h:column>
               <f:facet name = "header">Lead Actor</f:facet>
               #{odr.leadAct}
            </h:column>
            
            <h:column>
               <f:facet name = "header">Production Studio</f:facet>
               #{odr.studio}
            </h:column>
            
            <h:column>
               <f:facet name = "header">Director</f:facet>
               #{odr.director}
            </h:column>
            
            <h:column>
               <f:facet name = "header">Length</f:facet>
               #{odr.length}
            </h:column>
            <h:column>
               <f:facet name = "header">Year</f:facet>
               #{odr.year}
            </h:column>
            <h:column>
               <f:facet name = "header">Rental Price $</f:facet>
               #{odr.price}
            </h:column>
            <h:column>
               <f:facet name = "header">Video Image File</f:facet>
               #{odr.vidImg}
            </h:column>
            </h:dataTable>		
		
		
		</h:form>
	</body> 
	</ui:define>	
</ui:composition>
</html>
